@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&display=swap");
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hero-purple-container {
  background-color: #AC9ED9;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.zig-zag {
  width: 100%;
  height: 25px;
  padding-bottom: 10px;
}

.zig-zag-svg {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.name-container {
  font-size: 20px;
  color: #4D4D4D;
  padding: 20px;
  font-weight: 600;
}

.job-title-container {
  color: white;
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.job-description-container {
  font-size: 20px;
  color: white;
  font-weight: lighter;
  padding-left: 20px;
  padding-bottom: 20px;
}

.yellow-line-divider {
  width: 60%;
  height: 3px;
  background-color: #FFF8B9;
}

.arrow-container {
  width: 30%;
  height: auto;
}

.arrow-image {
  width: 100%;
  height: auto;
}

.image-container {
  width: 50%;
  height: auto;
  position: absolute;
  right: 30px;
  top: 365px;
  z-index: 99;
}

.image-of-me {
  width: 100%;
  height: auto;
}

.white-square-container {
  width: 50%;
  height: auto;
  position: absolute;
  right: 15px;
  top: 380px;
}

.square-outline-image {
  width: 100%;
  height: auto;
}

.hero-yellow-container {
  background-color: #FFF8B9;
  padding-top: 140px;
  padding-bottom: 80px;
}

.brackets-image-container {
  width: 20%;
  height: auto;
  padding-top: 25px;
  position: absolute;
  right: 20px;
}

.brackets-image {
  width: 100%;
  height: auto;
}

.about-container {
  width: 100%;
  height: auto;
  background-color: #4D4D4D;
}

.about-me-title {
  font-size: 20px;
  color: #AC9ED9;
  padding: 20px;
  padding-bottom: 0px;
  font-weight: 600;
}

.about-me-text {
  font-size: 16px;
  color: white;
  font-weight: lighter;
  padding: 20px;
}

.work-container {
  width: 100%;
  height: auto;
  background-color: #AC9ED9;
}

.work-title {
  font-size: 20px;
  color: #4D4D4D;
  padding: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.mockup-container {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.middle {
  width: 0px;
  height: 0px;
}

.text {
  visibility: hidden;
}

.mockup-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.mockup-image:hover {
  cursor: pointer;
}

.mockup-box {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.contact-container {
  width: 100%;
  height: auto;
  background-color: #4D4D4D;
}

.contact-title {
  font-size: 20px;
  color: #AC9ED9;
  padding: 20px;
  padding-bottom: 0px;
  font-weight: 600;
}

.contact-text {
  font-size: 16px;
  color: white;
  font-weight: lighter;
  padding: 20px;
}

.contact-icon {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
}

.skills-container {
  width: 100%;
  height: auto;
  background-color: #AC9ED9;
}

.skills-title {
  font-size: 20px;
  color: #4D4D4D;
  padding: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.skills-logo-container {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-logo-box {
  width: 38%;
  height: auto;
  margin: 19px;
  background-color: #4D4D4D;
  border-radius: 20px;
  margin-bottom: 20px;
}

.skill-logo-image {
  width: 100%;
  height: auto;
}

.footer-container {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #FFF8B9;
}

.dots-container {
  width: 0%;
  height: 0%;
}

@media screen and (min-width: 375px) {
  .middle {
    width: 0px;
    height: 0px;
  }
  .text {
    visibility: hidden;
  }
}

@media screen and (min-width: 425px) {
  .middle {
    width: 0px;
    height: 0px;
  }
  .text {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 100%;
    height: auto;
    display: flex;
  }
  .hero-purple-container {
    background-color: #AC9ED9;
    width: 60%;
    height: auto;
    padding-bottom: 10px;
  }
  .job-title-container {
    padding: 25px;
    font-size: 45px;
  }
  .job-description-container {
    font-size: 22px;
    padding-left: 28px;
  }
  .yellow-line-divider {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .name-container {
    font-size: 22px;
  }
  .arrow-image {
    padding-bottom: 45px;
  }
  .hero-yellow-container {
    background-color: #FFF8B9;
    padding-top: 140px;
    padding-bottom: 80px;
    width: 40%;
  }
  .image-container {
    width: 50%;
    height: auto;
    position: absolute;
    right: 40px;
    top: 135px;
    z-index: 99;
  }
  .image-of-me {
    width: 80%;
    height: auto;
  }
  .white-square-container {
    width: 40%;
    right: 80px;
    top: 165px;
  }
  .brackets-image-container {
    width: 6%;
    height: auto;
    top: 25px;
    position: absolute;
    right: 25px;
  }
  .about-me-title {
    font-size: 25px;
    padding: 25px;
    padding-bottom: 0px;
  }
  .about-me-text {
    font-size: 18px;
    padding: 25px;
  }
  .work-title {
    font-size: 25px;
    padding: 25px;
    padding-bottom: 30px;
  }
  .mockup-container {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .mockup-box {
    width: 40%;
    margin-bottom: 50px;
  }
  .text {
    visibility: hidden;
  }
  .contact-title {
    font-size: 25px;
    padding: 25px;
    padding-bottom: 0px;
  }
  .contact-text {
    font-size: 18px;
    padding: 25px;
  }
  .contact-icon {
    font-size: 23px;
    margin-right: 10px;
    margin-bottom: -6px;
  }
  .skills-title {
    font-size: 25px;
    padding: 25px;
    padding-bottom: 0px;
  }
  .skills-logo-box {
    width: 19%;
  }
  .dots-container {
    width: 50px;
    height: 90px;
    position: absolute;
    z-index: 99;
    top: 500px;
    right: 15px;
  }
  .dot-grey {
    background-color: #4D4D4D;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 6px;
  }
  .dot-white {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-container {
    width: 100%;
    height: auto;
    display: flex;
  }
  .hero-purple-container {
    background-color: #AC9ED9;
    width: 60%;
    height: auto;
    padding-bottom: 10px;
  }
  .job-title-container {
    padding: 30px;
    font-size: 50px;
  }
  .job-description-container {
    font-size: 22px;
    padding-left: 35px;
  }
  .yellow-line-divider {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 50%;
  }
  .name-container {
    font-size: 28px;
  }
  .arrow-image {
    padding-bottom: 45px;
  }
  .hero-yellow-container {
    background-color: #FFF8B9;
    padding-top: 140px;
    padding-bottom: 80px;
    width: 40%;
  }
  .image-container {
    width: 43%;
    height: auto;
    position: absolute;
    right: 130px;
    top: 185px;
    z-index: 99;
  }
  .image-of-me {
    width: 80%;
    height: auto;
  }
  .white-square-container {
    width: 35%;
    right: 175px;
    top: 215px;
  }
  .brackets-image-container {
    width: 6%;
    height: auto;
    top: 0px;
    right: 25px;
  }
  .about-me-title {
    font-size: 30px;
    padding: 40px;
    padding-bottom: 0px;
  }
  .about-me-text {
    font-size: 20px;
    padding: 40px;
  }
  .work-title {
    font-size: 30px;
    padding: 40px;
    padding-bottom: 30px;
  }
  .mockup-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .mockup-box {
    width: 45%;
    margin-bottom: -30px;
    height: 390px;
  }
  .mockup-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    margin-top: -195px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #4D4D4D;
  }
  .mockup-box:hover .mockup-image {
    opacity: 0.3;
  }
  .mockup-box:hover .middle {
    opacity: 1;
  }
  .text {
    visibility: visible;
    background-color: #AC9ED9;
    color: #4D4D4D;
    font-size: 22px;
    padding: 16px 32px;
    font-family: 'Noto Sans', sans-serif;
    width: 200px;
  }
  .contact-title {
    font-size: 30px;
    padding: 40px;
    padding-bottom: 0px;
  }
  .contact-text {
    font-size: 20px;
    padding: 40px;
  }
  .skills-title {
    font-size: 30px;
    padding: 40px;
    padding-bottom: 20px;
  }
  .skills-logo-box {
    width: 12%;
  }
  .dots-container {
    width: 50px;
    height: 90px;
    position: absolute;
    z-index: 99;
    top: 580px;
    right: 15px;
  }
  .dot-grey {
    background-color: #4D4D4D;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 6px;
  }
  .dot-white {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 6px;
  }
  .footer-container {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    width: 100%;
    height: auto;
    display: flex;
  }
  .hero-purple-container {
    background-color: #AC9ED9;
    width: 60%;
    height: auto;
    padding-bottom: 10px;
  }
  .job-title-container {
    padding: 50px;
    font-size: 70px;
  }
  .job-description-container {
    font-size: 35px;
    padding-left: 55px;
  }
  .yellow-line-divider {
    margin-bottom: -15px;
  }
  .name-container {
    font-size: 35px;
    padding: 30px;
  }
  .arrow-image {
    padding-bottom: 0px;
  }
  .hero-yellow-container {
    background-color: #FFF8B9;
    padding-top: 140px;
    padding-bottom: 80px;
    width: 40%;
  }
  .image-container {
    top: 195px;
  }
  .image-of-me {
    width: 80%;
    height: auto;
  }
  .white-square-container {
    right: 190px;
    top: 230px;
  }
  .brackets-image-container {
    top: 5px;
    right: 30px;
  }
  .about-me-title {
    font-size: 45px;
    padding: 40px;
    padding-bottom: 0px;
    padding-left: 90px;
  }
  .about-me-text {
    font-size: 27px;
    padding: 90px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .work-title {
    font-size: 45px;
    padding: 40px;
    padding-bottom: 50px;
    padding-left: 90px;
  }
  .mockup-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .mockup-box {
    width: 40%;
    margin-bottom: 20px;
    height: 390px;
  }
  .mockup-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    margin-top: -220px;
    margin-left: 130px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #4D4D4D;
  }
  .mockup-box:hover .mockup-image {
    opacity: 0.3;
  }
  .mockup-box:hover .middle {
    opacity: 1;
  }
  .text {
    visibility: visible;
    background-color: #AC9ED9;
    color: black;
    font-size: 22px;
    padding: 16px 32px;
    font-family: 'Noto Sans', sans-serif;
    width: 200px;
  }
  .contact-title {
    font-size: 45px;
    padding: 40px;
    padding-bottom: 0px;
    padding-left: 90px;
  }
  .contact-text {
    font-size: 27px;
    padding: 45px;
    padding-top: 30px;
    padding-left: 90px;
  }
  .skills-title {
    font-size: 45px;
    padding: 40px;
    padding-bottom: 20px;
    padding-left: 90px;
  }
  .skills-logo-box {
    width: 12%;
  }
  .dots-container {
    width: 60px;
    height: 110px;
    position: absolute;
    z-index: 99;
    top: 650px;
    right: 15px;
  }
  .dot-grey {
    background-color: #4D4D4D;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .dot-white {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .footer-container {
    padding-bottom: 45px;
  }
}
