// LAPTOP LARGE MEDIA QUERY
@media screen and (min-width: 1440px) {

    // CONTAINER FOR PURPLE AND YELLOW HERO CONTAINERS
    .hero-container {
        width: 100%;
        height: auto;
        display: flex;
    }

    // PURPLE HERO CONTAINER

    .hero-purple-container {
        width: 60%;
        height: auto;
        padding-bottom: 10px;
    }

    .job-title-container {
        padding: 50px;
        font-size: 70px;
    }

    .job-description-container {
        font-size: 35px;
        padding-left: 55px;
    }

    .yellow-line-divider {
        margin-bottom: -15px;
    }

    .name-container {
        font-size: 35px;
        padding: 30px;
    }

    .arrow-image {
        padding-bottom: 0px;
    }

    // YELLOW HERO CONTAINER

    .hero-yellow-container {
        padding-top: 140px;
        padding-bottom: 80px;
        width: 40%;
    }

    .image-container {
        top: 195px;
    }

    .image-of-me {
        width: 80%;
        height: auto;
    }

    .white-square-container {
        right: 190px;
        top: 230px;
    }

    .brackets-image-container {
        top: 5px;
        right: 30px;
    }

    // ABOUT ME 
    .about-me-title {
        font-size: 45px;
        padding: 40px;
        padding-bottom: 0px;
        padding-left: 90px;
    }

    .about-me-text {
        font-size: 27px;
        padding: 90px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    // WORK SECTION
    .work-title {
        font-size: 45px;
        padding: 50px;
        padding-bottom: 60px;
        padding-left: 90px;
    }

    .mockup-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    .mockup-box {
        width: 95%;
        margin-bottom: 80px;
        display: flex;
        margin-left: 1%;
    }

    .mockup-box:nth-child(2),
    .mockup-box:nth-child(4),
    .mockup-box:nth-child(6) {
        margin-left: 10%;
    }

    .mockup-image {
        margin-top: 50px;
        margin-left: 15px;
    }

    .website-image-container {
        width: 50%;
        height: 400px;
    }

    .website-text-container {
        width: 50%;
        padding: 20px;
    }

    .website-name {
        font-size: 32px;
        color: white;
        padding-left: 30px;
    }

    .website-description {
        font-weight: lighter;
        font-size: 25px;
        text-align: left;
        padding-left: 30px;
        padding-right: 20px;
        color: white;
    }


    // MOCKUP HOVERS
    .mockup-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        margin-top: -200px;
        margin-left: 150px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        border: 1px solid $grey;
    }

    .mockup-box:hover .mockup-image {
        opacity: 0.3;
    }

    .mockup-box:hover .middle {
        opacity: 1;
    }

    .text {
        visibility: visible;
        background-color: $yellow;
        color: grey;
        font-size: 30px;
        padding: 16px 32px;
        font-family: 'Noto Sans', sans-serif;
        width: 260px;
    }


    // MOCKUP HOVERS

    // CONTACT BOX
    .contact-title {
        font-size: 45px;
        padding: 40px;
        padding-bottom: 0px;
        padding-left: 90px;
    }

    .contact-text {
        font-size: 20px;
        padding: 40px;
        display: flex;
        justify-content: center;
    }

    .contact-button {
        width: 330px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .link-contact-button {
        margin-right: 30px;
    }

    .contact-button a {
        font-size: 21px;
    }

    .contact-button:hover {
        cursor: pointer;
    }

    // SKILLS BOX

    .skills-title {
        font-size: 45px;
        padding: 40px;
        padding-bottom: 20px;
        padding-left: 90px;
    }

    .skills-logo-box {
        width: 12%;
    }

    // DOTS IN YELLOW HERO SECTION

    .dots-container {
        width: 60px;
        height: 110px;
        position: absolute;
        z-index: 99;
        top: 650px;
        right: 15px;
    }

    .dot-grey {
        background-color: $grey;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 8px;
    }

    .dot-white {
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 8px;
    }

    // FOOTER
    .footer-heading {
        text-align: left;
        margin-left: 100px;
        padding-top: 45px;
        padding-bottom: 10px;
        padding-left: 0;
        font-size: 20px;
        color: rgb(68, 68, 68);
    }

    .footeremail {
        text-align: left;
        padding-left: 100px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 25px;
        font-size: 25px;
        color: black;
    }


    .footer-links-block {
        width: 100%;
        text-align: left;
        justify-content: left;
        align-items: stretch;
        padding-left: 100px;
        display: flex;
        padding-bottom: 25px;
        color: rgb(68, 68, 68);
    }

    .footerfollowme {
        margin-right: 5px;
    }

    .link {
        color: rgb(68, 68, 68);
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-developed {
        text-align: right;
        margin-right: 100px;
        padding-bottom: 25px;
        color: rgb(147, 147, 147);
        font-size: 16px;
    }


}