// TABLET MEDIA QUERY 
@media screen and (min-width: 768px) {

    // CONTAINER FOR PURPLE AND YELLOW HERO CONTAINERS
    .hero-container {
        width: 100%;
        height: auto;
        display: flex;
    }

    // PURPLE HERO CONTAINER

    .hero-purple-container {
        background-color: #AC9ED9;
        width: 60%;
        height: auto;
        padding-bottom: 10px;
    }

    .job-title-container {
        padding: 25px;
        font-size: 45px;
    }

    .job-description-container {
        font-size: 22px;
        padding-left: 28px;
    }

    .yellow-line-divider {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .name-container {
        font-size: 22px;
    }

    .arrow-image {
        padding-bottom: 45px;
    }

    // YELLOW HERO CONTAINER

    .hero-yellow-container {
        background-color: #FFF8B9;
        padding-top: 140px;
        padding-bottom: 80px;
        width: 40%;
    }

    .image-container {
        width: 50%;
        height: auto;
        position: absolute;
        right: 40px;
        top: 135px;
        z-index: 99;
    }

    .image-of-me {
        width: 80%;
        height: auto;
    }

    .white-square-container {
        width: 40%;
        right: 80px;
        top: 165px;
    }

    .brackets-image-container {
        width: 6%;
        height: auto;
        top: 25px;
        position: absolute;
        right: 25px;
    }

    // ABOUT ME 
    .about-me-title {
        font-size: 25px;
        padding: 25px;
        padding-bottom: 0px;
    }

    .about-me-text {
        font-size: 18px;
        padding: 25px;
    }

    // WORK SECTION
    .work-title {
        font-size: 25px;
        padding: 25px;
        padding-bottom: 30px;
    }

    .mockup-container {
        width: 100%;
        height: auto;
        padding-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .mockup-box {
        width: 40%;
        margin-bottom: 50px;
    }

    .text {
        visibility: hidden;
    }

    // CONTACT BOX
    .contact-title {
        font-size: 25px;
        padding: 25px;
        padding-bottom: 0px;
    }

    .contact-text {
        font-size: 18px;
        padding: 25px;
    }

    .contact-icon {
        font-size: 23px;
        margin-right: 10px;
        margin-bottom: -6px;
    }

    // SKILLS BOX

    .skills-title {
        font-size: 25px;
        padding: 25px;
        padding-bottom: 0px;
    }

    .skills-logo-box {
        width: 19%;
    }

    // DOTS IN YELLOW HERO SECTION

    .dots-container {
        width: 50px;
        height: 90px;
        position: absolute;
        z-index: 99;
        top: 500px;
        right: 15px;
    }

    .dot-grey {
        background-color: $grey;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 6px;
    }

    .dot-white {
        background-color: white;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 6px;
    }
}